﻿<div class="row">
	<widget-date-picker class="col-md-3" dt="startDate" title= $strings.obdobjeOd ></widget-date-picker>
	<widget-date-picker class="col-md-3" dt="endDate" title=$strings.obdobjeDo ></widget-date-picker>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ $strings.textPrihodki }}
			</div>
	        <div class="panel-body">
	        	<widget-pie-chart index="0" podatkichart="prihodkiData"></widget-pie-chart>
	        </div>
      	</div>
    </div>
    <div class="col-sm-6">
		<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ $strings.textOdhodki }}
			</div>
	        <div class="panel-body">
	        	<widget-pie-chart index="1" podatkichart="odhodkiData"></widget-pie-chart>
	        </div>
      	</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    	<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ $strings.textAnalizaPoslovanja }}
			</div>
	        <div class="panel-body">
	        	<widget-bar-chart index="2" podatkichart="analizaData"></widget-bar-chart>
	        </div>
      	</div>
    </div>
    <div class="col-sm-6">
    	<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ $strings.textOpozorilo }}
			</div>
	        <div class="panel-body">
	        	<p> {{ $strings.textOpozoriloText }} </p>
	        	<p> {{ $strings.textOpozoriloNasvet }} </p>
	        </div>
      	</div>
    </div>
</div>

