﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa {{ $state.current.icon }}"></i>
      {{ $state.current.strings.longTitle }}
    </h1>
  </div>
</div>

<section id="widget-grid" widget-grid="">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
		 		<widget-transaction-details podrobnostitransakcije="podrobnostiTransakcije" prikazi="prikazi"></widget-transaction-details>
		 	</div>
		</div>
	</div>
</section>

