.domov-status {
  overflow: visible !important;
}
.select-chart{
	width:150px;
	display:inline-block;
}

.panel-dogodki{
	max-height:900px;
	overflow-y: scroll;
}
.panel-promet{

	max-height:600px;
}
.panel-modal-dogodek{
	margin: 0px;
	padding:0px;
}
.modal-dogodek-body{
	padding:0px;
}
