﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa {{ $state.current.icon }}"></i>
      {{ $state.current.strings.longTitle }}
    </h1>
  </div>
</div>


<section id="widget-grid" widget-grid="">
  <div class="row">
    <div class="col-xs-12 col-sm-6 "> 
      <div class="panel panel-default">
        <div ng-hide="dogodekDetails" class="panel-heading">{{$strings.headerDogodki}}</div>
        <div ng-show="dogodekDetails" class="panel-heading">{{$strings.dogodekTitle}}: {{curDogodek.povzetek}}</div>
          <div class="panel-body">

            <div ng-hide="dogodekDetails" style="height: 540px"> 
              <div ng-repeat="dogodek in dogodki">
                <b><p> {{dogodek.datum | date:'dd. MM. yyyy'}}</p></b>
                <span> {{dogodek.povzetek}} </span>

                <span class="fa fa-search pull-right fa-lg fa-icon-button" ng-click="openDogodek(dogodek)"> </span>
                <hr/>
              </div>
			</div>
              <div class="row"> 
                <div class="col-sm-offset-3 col-sm-9 col-xs-12">
                  <pagination class="pagination-custom" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage">  </pagination>
                </div>
              </div>

            


            <div ng-show="dogodekDetails"> 
              <!-- Racun -->
              <div ng-show="curDogodek.tip=='račun'"> 
                <p><b>{{curDogodek.datum | date:'dd. MM. yyyy' }}</b></p>
                <p><b>{{$strings.dogodekVrsta}}:</b> {{curDogodek.tip}} ({{curDogodek.racun.vrsta}})</p>
                <p><b> {{$strings.dogodekOpis}}: </b>{{curDogodek.racun.stroskovniNosilec.opis}}</p>
                <br/>
                <p><b>{{$strings.dogodekNaslov}}:</b></p>
                <p> {{curDogodek.stranka.naziv}} </p>
                <p> {{curDogodek.stranka.naslov.ulica}} {{curDogodek.stranka.naslov.hisnaStevilka}} </p>
                <p> {{curDogodek.stranka.naslov.postnaStevilka}} {{curDogodek.stranka.naslov.mesto}} </p>
                <br/>
                <p> <b> {{$strings.dogodekIdddv}}:</b> {{curDogodek.stranka.davcna}} </p>
                <p><b>{{$strings.dogodekDatumIzdaje}}:</b> {{curDogodek.racun.datumIzdaje}} </p>
                <p><b>{{$strings.dogodekRokPlacila}}:  </b> {{curDogodek.racun.rokPlacila}}</p>
                <br/>
                <p> <b>{{$strings.dogodekZnesek}}: </b> {{curDogodek.racun.znesek | currency:"EUR ":2}} </p>
                <p> <b> {{$strings.dogodekStatus}}:</b> {{curDogodek.racun.status}}</p>
                <span> <b> {{$strings.dogodekKontaktnaOseba}}: </b> {{curDogodek.stranka.kontakt.ime}} {{curDogodek.stranka.kontakt.priimek}} ({{curDogodek.stranka.kontakt.telefon}})</span>
                <br/>
                <br/>
                <input class="btn btn-default btn-inline" type="button" value="{{$strings.dogodekBtnEmail}}" ng-click="sendEmail(curDogodek.stranka.kontakt.email)">
                
                <br/>
                <br/>
                <img src="http://placehold.it/250x300">
                <br/>
                <br/>
              </div>
              
              <div ng-show="curDogodek.tip=='drugo'"> 
                <p><b>{{curDogodek.datum | date:'dd. MM. yyyy' }}</b></p>
                <p><b>{{$strings.dogodekVrsta}}:</b> {{curDogodek.tip}}</p>
                <p><b> {{$strings.dogodekOpis}}: </b>{{curDogodek.drugDogodek.opis}}</p>
                <br/>
              </div>
              <span ng-click="skrijPodrobnosti()"><i class="fa fa-fw fa-caret-left"></i>{{ $strings.dogodekSkrijPodrobnosti }}</span>

            </div>

          </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6"> 
      <div class="panel panel-default">
        <div class="panel-heading">{{$strings.headerPromet}}</div>
          <div class="panel-body panel-promet">

            <div class="row">
              <div class="col-xs-12">  

                <div class="panel panel-default">
                  <div class="panel-body">
                  	<p ng-hide="dovoljPodatkovZaGraf">{{ $strings.textOpozoriloPremaloPodatkov }} </p>
                  	  <div id="chartContainer">
                    	<canvas id="pregledChart" class="chart-medium padding-right-20 line-chart" height="200"></canvas> 
                  	  </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>

            <label for="selectChart" >{{$strings.selectChart.selectText}}</label>
            <select class="form-control select-chart" name="selectChart" ng-model="prometChartChoice">
              <option ng-repeat="choice in $strings.selectChart.choices" value="  {{choice.value}}">{{choice.text}}</option>
            </select>

            <br/><br/>
            <span>{{$strings.labelStanje}}: <span/>
            <strong> 
              <span> {{stanje | currency:"EUR ":2}}</span>
            </strong>
            <input class="btn btn-default btn-inline" type="button" value="{{$strings.btnPregledStanja}}" ng-click="go('^.porocila.promet.pregled')">

            <br/><br/>

            <input class="btn btn-default btn-inline" type="button" value="{{$strings.btnPrihodki}} / {{$strings.btnOdhodki}} " ng-click="go('^.promet')">

          </div>
      </div>
    </div>
  </div>

  <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
      <div class="panel panel-default">
        <div class="panel-heading">{{$strings.headerNasvet}}</div>
          <div class="panel-body">
              
            <p> {{nasvetRacunovodje}} </p>

          </div>
      </div>
    </div>
  </div>

</section>

