﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa {{ $state.current.icon }}"></i>
      {{ $state.current.strings.longTitle }}
    </h1>
  </div>
</div>


<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5"> 
      <div class="panel panel-default">
        <div class="panel-heading"> 
        	<b> {{ $strings.location }} </b>
        </div>
        <div class="panel-body">
          <span> {{ $strings.sendLocation }} </span>
          <input class="btn btn-default btn-inline" value="SEND" type="button"  ng-click="sendLocation()">
          <br/>
          <ui-gmap-google-map center='map.center' zoom='map.zoom'>
          	<ui-gmap-marker
		        idKey='marker.id'
		        coords='marker.center'
		        >
			</ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        
      </div>
    </div>
  </div>

</section>

