﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa {{ $state.current.icon }}"></i>
      {{ $state.current.strings.longTitle }}
    </h1>
  </div>
</div>


<section id="widget-grid" widget-grid="">
  <div class="row">
    <div class="col-xs-12"> 
      <div class="panel panel-default">
        <div class="panel-heading">{{$strings.dogodekTitle}}: {{curDogodek.povzetek}}</div>
          <div class="panel-body">
                        <!-- Racun -->
              <div ng-show="curDogodek.tip=='račun'"> 
               	<div class="row">
               	  <div class="col-xs-12 col-sm-6">
		               <p><b>{{curDogodek.datum | date:'dd. MM. yyyy' }}</b></p>
		               <p><b>{{$strings.dogodekVrsta}}:</b> {{curDogodek.tip}} ({{curDogodek.racun.vrsta}})</p>
		               <p><b> {{$strings.dogodekOpis}}: </b>{{curDogodek.racun.stroskovniNosilec.opis}}</p>
		               <br/>
		               <p><b>{{$strings.dogodekNaslov}}:</b></p>
		               <p> {{curDogodek.stranka.naziv}} </p>
		               <p> {{curDogodek.stranka.naslov.ulica}} {{curDogodek.stranka.naslov.hisnaStevilka}} </p>
		               <p> {{curDogodek.stranka.naslov.postnaStevilka}} {{curDogodek.stranka.naslov.mesto}} </p>
		               <br/>
		               <p> <b> {{$strings.dogodekIdddv}}:</b> {{curDogodek.stranka.davcna}} </p>
		               <p><b>{{$strings.dogodekDatumIzdaje}}:</b> {{curDogodek.racun.datumIzdaje}} </p>
		               <p><b>{{$strings.dogodekRokPlacila}}:  </b> {{curDogodek.racun.rokPlacila}}</p>
		               <br/>
		               <p> <b>{{$strings.dogodekZnesek}}: </b> {{curDogodek.racun.znesek | currency:"EUR ":2}} </p>
		               <p> <b> {{$strings.dogodekStatus}}:</b> {{curDogodek.racun.status}}</p>
		               <span> <b> {{$strings.dogodekKontaktnaOseba}}: </b> {{curDogodek.stranka.kontakt.ime}} {{curDogodek.stranka.kontakt.priimek}} ({{curDogodek.stranka.kontakt.telefon}})</span>
		               <br/>
		               <br/>
	               </div>
	               <div class="col-xs-12 col-sm-6">
		               <img src="http://placehold.it/250x300">
		               
		               <br/>
		               <br/>
		               <input class="btn btn-default" type="button" value="{{$strings.dogodekBtnEmail}}" ng-click="sendEmail(curDogodek.stranka.kontakt.email)">
		               
		               <br/>
		               <br/>
	               </div>
	             </div>
              </div>
              
              <div ng-show="curDogodek.tip=='drugo'"> 
                <p><b>{{curDogodek.datum | date:'dd. MM. yyyy' }}</b></p>
                <p><b>{{$strings.dogodekVrsta}}:</b> {{curDogodek.tip}}</p>
                <p><b> {{$strings.dogodekOpis}}: </b>{{curDogodek.drugDogodek.opis}}</p>
                <br/>
              </div>
              <span ng-click="skrijPodrobnosti()"><i class="fa fa-fw fa-caret-left"></i>{{ $strings.dogodekSkrijPodrobnosti }}</span>

            </div>

          </div>
        </div>
    </div>
  </div>
</section>

