﻿

<div class="row">	
	<div class="col-sm-7">
		<div class="panel panel-default ">
	        <div class="panel-heading"> 
	      		{{ $strings.textKategorije }}
			</div>
	        <div class="panel-body scroll-div">
	        	<div class="row" ng-repeat="kategorija in kategorije">
        			<div ng-include="'kategorijaContainer'"></div>
	        	</div>	
	        </div>
      	</div>
    </div>
    <div class="col-sm-5">
    	<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ podrobnostiKategorije.kategorija }}
			</div>
	        <div class="panel-body max-height-200 overflow-auto">
	        	<p>{{ podrobnostiKategorije.opis }}</p>
	        </div>
      	</div>
      	<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ $strings.textKategorijaGraf }}
			</div>
	        <div class="panel-body">
	        	 <widget-bar-chart index="0" imechart="podrobnostiKategorije.ime" podatkichart="podatkiGrafa"></widget-bar-chart>
	        </div>
      	</div>
    </div>
	<div class="col-sm-5">
		<p><button class="btn btn-primary" ng-click="izvoziPdf()">Izvozi PDF</button></p>
	</div>
</div> 
<script type="text/ng-template" id="kategorijaContainer">
	<div ng-click="zamenjajPodrobnosti(kategorija)">
		<div class="col-xs-12 border-bottom">
       		<p ng-class="{selected: kategorija.isSelected}"> {{ kategorija.kategorija }}</p> 
    	</div>
	</div>
	<div style="margin: 0 0 0 25px" class="row" ng-repeat="kategorija in kategorija.bilance">
		<div ng-include src="'kategorijaContainer'"></div>
	</div>
</script>


