﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      	<i class="fa-fw fa {{ $strings.icon }}"></i>
      		{{ $strings.header }}
    </h1>
  </div>
</div>


<section id="widget-grid" widget-grid="">
  <div class="row">
    <div class="col-sm-12 "> 
      <div class="panel panel-default">
        <div class="panel-heading"> 
			<i class="fa-fw fa {{ $state.current.icon }}"></i>
      		{{ $state.current.strings.longTitle }}
			</div>
          <div class="panel-body">
            <div ui-view></div>
          </div>
      </div>
    </div>
  </div>

</section>

