﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa {{ $state.current.icon }}"></i>
      {{ $state.current.strings.longTitle }}
    </h1>
  </div>
</div>

<section id="widget-grid" widget-grid="">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-2"> 
		  	<div class="form-group">
			  <label>Vrsta prometa:</label>
			  <select class="form-control" ng-model="vrstaPrometa">
			    <option value="ves">Ves</option>
			    <option value="domaci">Domač</option>
			    <option value="tuji">Tuji</option>
			  </select>
			</div>
	  	</div>
  	</div>
  <div class="row">
    <widget-date-picker class="col-md-3" dt="startDate" title= $strings.obdobjeOd ></widget-date-picker>
    <widget-date-picker class="col-md-3" dt="endDate" title=$strings.obdobjeDo ></widget-date-picker>
  </div>
  <div class="row">
  	<div class="col-xs-12">
	    <tabset>
		  <tab heading="Prihodki" select="zamenjajPrikaz(0)"></tab>
		  <tab heading="Odhodki" select="zamenjajPrikaz(1)"></tab>
		</tabset>
    </div>
	
	<div class="col-md-12" >
		<div class="panel panel-default">
			<div class="panel-body panel-transakcije">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label>{{$strings.iskanje}}</label>
					    <p class="input-group">
					      <input type="text" class="form-control" ng-model="searchString"/>
					      <span class="input-group-btn">
					        <button type="button" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
					      </span>
					      <span class="input-group-btn">
					        <button type="button" class="btn btn-default" ng-click="refresh()"><i class="fa fa-eraser"></i></button>
					      </span>
					    </p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<div collapse="prihodki.length != 0 || odhodki.length != 0 || isLoading">
							<div class="alert alert-danger" role="alert">{{$strings.alertNiRezultatov}}</div>
						</div>
					</div> 
				</div>
				<div ng-show="prikazi == 0">
					<div class="row">
						<div class="col-sm-8 col-md-7">
							<widget-transactions-info-table  transakcije="prihodki" podrobnostitransakcije="podrobnostiPrihodki" naslovitabele="$strings.nasloviTabelePrihodki" prikazivrsto="false" loaddata="loadData" sort="sort" ></widget-transactions-info-table>

							<pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
						</div>
					
						<div class="col-sm-4 col-md-5">
							<widget-pie-chart index="0" podatkichart="prihodkiData" prikazi="prikazi"></widget-pie-chart>
						</div>
					</div>
				</div>
				<div ng-show="prikazi == 1"> 
					<div class="row">
						<div class="col-sm-8 col-md-7">
							<widget-transactions-info-table transakcije="odhodki" podrobnostitransakcije="podrobnostiOdhodki" naslovitabele="$strings.nasloviTabeleOdhodki" prikazivrsto="false" loaddata="loadData" 
							sort="sort" ></widget-transactions-info-table>

							<pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
						</div>
						<div class="col-sm-4 col-md-5">
							<widget-pie-chart index="1" podatkichart="odhodkiData" prikazi="prikazi"></widget-pie-chart>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  </div>
</section>

