.scrolltable table {
	width:100%;
	table-layout: fixed;
}

.scrolltable thead, .scrolltable tbody, .scrolltable tr, .scrolltable td, .scrolltable th { display: block; }

.scrolltable-5 tbody td, .scrolltable-5 thead td {
	width: 20%;
    float: left;
}
.scrolltable-4 tbody td, .scrolltable-4 thead td {
	width: 25%;
    float: left;
}


.scrolltable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

[ng-click] {
	cursor: pointer;
}