<div class="modal-header">
    <h3 class="modal-title">{{$strings.modalDogodekTitle}}</h3>
</div>
<div class="modal-body modal-dogodek-body">
	<div class="panel panel-default panel-modal-dogodek">
		<div class="panel-body ">
			
    	</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default  pull-left" ng-click="close()">{{$strings.modalDogodekClose}}</button>
</div>

