<div>
<accordion close-others="true">
  <accordion-group ng-repeat="skupina in skupine"
        heading="{{skupina.ime}}" is-open="skupina.open" > 
    <div class="accordion-content accordion-container"> 
      <tabset vertical="true" type="pills">
        <tab  class="black" ng-repeat="element in elementi | pillNavsGroupCheck:skupina.filter" heading="{{element.naziv}}" ng-click="setActiveElement(element)"></tab>
      </tabset>
    </div>
  </accordion-group>
</accordion>

</div>