﻿<div class="row">
	<widget-date-picker class="col-md-3" dt="startDate" title= $strings.obdobjeOd ></widget-date-picker>
	<widget-date-picker class="col-md-3" dt="endDate" title=$strings.obdobjeDo ></widget-date-picker>
	
	<div class="col-md-12">
		<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ $strings.textPregled }}
			</div>
	        <div class="panel-body">
	        	<p ng-hide="dovoljPodatkovZaGraf"> {{ $strings.textOpozoriloPremaloPodatkov }} </p> 
                <div ng-show="dovoljPodatkovZaGraf" id="pregledChartContainer">
	        		<canvas id="pregledChart" class="chart-pregled padding-right-20 line-chart" ></canvas>
	        	</div>
	        </div>
      	</div>
    </div>
    <div class="col-md-12">
    	<div class="panel panel-default">
	        <div class="panel-heading"> 
	      		{{ $strings.textNapovedPoslovana }}
			</div>
	        <div class="panel-body">
	        	<p ng-hide="dovoljPodatkovZaGraf"> {{ $strings.textOpozoriloPremaloPodatkov }} </p> 
                <div ng-show="dovoljPodatkovZaGraf" id="napovedPoslovanjaChartContainer">
	        		<canvas id="napovedPoslovanjaChart" class="chart-pregled padding-right-20 line-chart" ></canvas>
	        	</div>
	        </div>
      	</div>
    </div>
</div> 
