
@import "podrobnosti/podrobnosti.less";

.dashboard-status {
  overflow: visible !important;
}
.accordion-content{
	overflow-y: scroll;
}
.nav-pills > li.active > a
{
    background-color: #123752 !important;
    color: #FFF !important;
} 

.nav-pills > li.active > a:hover
{
    color: #2C3742;
} 
.stranke-podatek{
	margin:10px;
}

.stranke-logo { 
	max-height: 140px;
	max-widht: 140px;
}