﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa {{ $state.current.icon }}"></i>
      {{ $state.current.strings.longTitle }}
    </h1>
  </div>
</div>


<section id="widget-grid" widget-grid="">
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-3">
			<label>{{$strings.iskanje}}</label>
		    <p class="input-group">
		      <input type="text" class="form-control" ng-model="searchString"/>
		      <span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
		      </span>
		    </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3">
			<div collapse="stranke.length != 0 || isFirstLoad">
				<div class="alert alert-danger" role="alert">{{$strings.alertNiRezultatov}}</div>
			</div>
		</div> 
	</div>
	<div class="row"> 
		<div class="col-xs-4"> 
			<tabset>
		    	<tab heading="{{$strings.tabHeaderVse}}" select="tabChanged(0)" ></tab>
		    	<tab heading="{{$strings.tabHeaderStalne}}" select="tabChanged(1)" ></tab>
		    	<tab heading="{{$strings.tabHeaderDolzniki}}" select="tabChanged(2)" ></tab>
			</tabset>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4"> 
		  <div class="panel panel-default">
			    <div class="panel-heading">
					<span>{{$strings.headerSeznamStrank}}</span>
			    </div>
			    <div class="panel-body panel-stranke">

					<div>
						<div class="row">
							<div class="col-xs-12"> 
								<ul class="nav nav-pills nav-stacked navigation-pills">
								  <li role="presentation" ng-repeat="stranka in stranke" ng-class="{'active': stranka.id == activestranka.id}" ng-click="setActiveStranka(stranka)"><a href="#">{{stranka.naziv}}</a></li>
								</ul>
							</div>
						</div>

						<div class="row"> 
						    <div class="col-sm-offset-2 col-xs-10">
						      <pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
						    </div>
						</div>
					</div>

			    </div>
		    </div>
		</div>

		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8"> 
	  		<widget-stranke-details activestranka="activestranka"></widget-stranke-details>
		</div>
	</div>

</section>
