<div>
	<div class="col-md-7 height-170">
		<div class="row">
			<div class="col-md-6">
				<div ng-show="podrobnostitransakcije.podrobnosti.vrsta == 'prejeti'"> 
					<p >{{ podrobnostitransakcije.podrobnosti.izdajateljRacuna.naziv }}</p>
					<p>{{ podrobnostitransakcije.podrobnosti.izdajateljRacuna.naslov.ulica + " " + podrobnostitransakcije.podrobnosti.izdajateljRacuna.naslov.hisnaStevilka  }}</p>
					<p>{{ podrobnostitransakcije.podrobnosti.izdajateljRacuna.naslov.postnaStevilka + " "+ podrobnostitransakcije.podrobnosti.izdajateljRacuna.naslov.mesto  }}</p>
					<br/>
					<p>{{ $strings.podatkiIdDDV }} {{ podrobnostitransakcije.podrobnosti.izdajateljRacuna.davcna }}</p>
				</div>
				<div ng-show="podrobnostitransakcije.podrobnosti.vrsta == 'izdani'"> 
					<p >{{ podrobnostitransakcije.podrobnosti.prejemnikRacuna.naziv }}</p>
					<p>{{ podrobnostitransakcije.podrobnosti.prejemnikRacuna.naslov.ulica + " " + podrobnostitransakcije.podrobnosti.prejemnikRacuna.naslov.hisnaStevilka  }}</p>
					<p>{{ podrobnostitransakcije.podrobnosti.prejemnikRacuna.naslov.postnaStevilka + " "+ podrobnostitransakcije.podrobnosti.prejemnikRacuna.naslov.mesto  }}</p>
					<br/>
					 <p>{{ $strings.podatkiIdDDV }} {{ podrobnostitransakcije.podrobnosti.prejemnikRacuna.davcna }}</p> 
				</div>
				
			</div>
			<div class="col-md-6">
				<p>{{ $strings.podatkiNamen }} {{ podrobnostitransakcije.podrobnosti.stroskovniNosilec.opis }}</p>
				<p>{{ $strings.podatkiDatum }} {{ podrobnostitransakcije.podrobnosti.datumIzdaje | date:'dd. MM. yyyy'}}</p>
				<p>{{ $strings.podatkiZnesek }} {{ podrobnostitransakcije.podrobnosti.znesek }}</p>
				<br/>
				<p>{{ $strings.podatkiStroskovniNosilec }} {{ podrobnostitransakcije.podrobnosti.stroskovniNosilec.sn }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-5 height-170">
		<img src="http://placehold.it/250x200"></img>
	</div>
	<div class="col-md-7 height-30">
		<span ng-click="skrijPodrobnosti()"><i class="fa fa-fw fa-caret-left"></i>{{ $strings.podatkiExit }}</span>
	</div>
</div>
