﻿<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">{{$strings.headerStranka}} -
				{{activestranka.naziv}}</div>
			<div class="panel-body ">
				<div class="row">
					<div class="col-xs-12">
						<p ng-click="skrijPodrobnosti()">
							<i class="fa fa-fw fa-caret-left"></i>{{
							$strings.strankaSkrijPodrobnosti }}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<section class="stranke-podatek">
											<p>
												<b> {{$strings.naslov}}:</b>
											</p>
												
											<div ng-hide="editMode">
												<p>{{activestranka.naslov.ulica + " " +
													activestranka.naslov.hisnaStevilka }}</p>
												<p>{{activestranka.naslov.postnaStevilka + " " +
													activestranka.naslov.posta.opis}}</p>
												<p>{{activestranka.naslov.drzava.drzava}}</p>
											</div>
											<div ng-show="editMode">
												<div class="row">
													<div class="col-xs-12">
														<label> {{$strings.editModeUlicaHisna}} </label>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-8">
														<input class="form-control" type="text"
															 ng-model="activestranka.naslov.ulica">
													</div>
													<div class="col-xs-12 col-sm-4 ">
														<input class="form-control" type="text"
															ng-model="activestranka.naslov.hisnaStevilka">
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<label> {{$strings.editModePostaMesto}} </label>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<select class="form-control" ng-model="activestranka.naslov.posta" ng-options="mesto as mesto.opis for mesto in vsaMesta">
														</select>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<label>{{$strings.editModeDrzava}}</label>
														<br>
														<select class="form-control" ng-model="activestranka.naslov.drzava.id" ng-options="drzava.id as drzava.drzava for drzava in vseDrzave" ng-change="changeDrzava()">
														</select>
														<!-- 
														<input class="form-control" type="text"
														ng-model="activestranka.naslov.drzava">
														 -->
														<br>
													</div>
												</div>
												<div
													collapse="!saveError">
													<div class="alert alert-danger" role="alert"> 
														 Prišlo je do napake pri shranjevanju naslova. Ali ste vnesli veljaven naslov?
													</div>
												</div>
											</div>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-hide="editMode || !canEdit" ng-click="openEditMode()" tooltip="{{$strings.zacniUrejanje}}">
													<i class="fa fa-lg fa-edit"></i>
												</button>
												<button type="button" class="btn btn-default" ng-show="editMode" ng-click="closeEditMode()" tooltip="{{$strings.prenehajUrejanje}}">
													<i class="fa fa-lg fa-chevron-left"></i>
												</button>												
												<button type="button" class="btn btn-default" ng-show="editMode" ng-click="saveNaslov()" tooltip="{{$strings.shraniNaslov}}">
													<i class="fa fa-lg fa-save"></i>
												</button>
											</span> 
										</section>
										<section class="stranke-podatek">
											<p>
												<b>{{$strings.kontaktnaOseba}}:</b>
											</p>
											<p>{{activestranka.kontakt.ime + " " +
												activestranka.kontakt.priimek}}</p>
										</section>
										<section class="stranke-podatek">
											<p>
												<b>{{$strings.idddv}}:</b>
											</p>
											<p>{{activestranka.davcna}}</p>
										</section>
									</div>
									<div class="col-xs-12 col-md-6">
										<img ng-show="activestranka.slika"
											src="{{ activestranka.slika }}" class="stranke-logo" /> 
										<img ng-hide="activestranka.slika"
											src="http://placehold.it/150x150" class="stranke-logo" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6">
						<div ng-hide="map.show">Podatki mape trenutno niso na voljo!
						</div>
						<div ng-show="map.show">
							<ui-gmap-google-map center='map.center' zoom='map.zoom'>
								<ui-gmap-marker idKey='marker.id' coords='marker.center'>
								</ui-gmap-marker>
							 </ui-gmap-google-map>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<widget-date-picker dt="startDate" title=$strings.obdobjeOd></widget-date-picker>
					</div>
					<div class="col-xs-6">
						<widget-date-picker dt="endDate" title=$strings.obdobjeDo></widget-date-picker>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body panel-transakcije">
								<div class="row">
									<div class="col-xs-12 col-sm-3">
										<label>{{$strings.iskanje}}</label>
										<p class="input-group">
											<input type="text" class="form-control"
												ng-model="searchString" /> <span class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="search()">
													<i class="fa fa-search"></i>
												</button>
											</span> <span class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="refresh()">
													<i class="fa fa-eraser"></i>
												</button>
											</span>
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-3">
										<div
											collapse="activestranka.transakcije.length != 0 || isFirstLoad">
											<div class="alert alert-danger" role="alert">{{$strings.alertNiRezultatov}}</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<widget-transactions-info-table
											transakcije="activestranka.transakcije"
											podrobnostitransakcije="podrobnostiTransakcije"
											naslovitabele="$strings.nasloviTabele" prikazivrsto="true"
											loaddata="loadData" sort="sort">
										</widget-transactions-info-table>
										<div></div>
										<pagination boundary-links="true" total-items="totalItems"
											items-per-page="itemsPerPage" ng-model="currentPage"
											ng-change="pageChanged()" class="pagination-sm"
											max-size="maxSize" previous-text="&lsaquo;"
											next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-body">
										<p ng-hide="dovoljPodatkovZaGraf">{{
											$strings.opozoriloPremaloPodatkovZaGraf }}</p>
										<div ng-show="dovoljPodatkovZaGraf"
											id="strankaPrometChartContainer">
											<canvas id="strankaPrometChart"
												class="chart-medium-flat padding-right-20 line-chart"
												height="200"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<span ng-click="skrijPodrobnosti()"><i
									class="fa fa-fw fa-caret-left"></i>{{
									$strings.strankaSkrijPodrobnosti }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>