﻿<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa {{ $state.current.icon }}"></i>
      {{ $state.current.strings.longTitle }}
    </h1>
  </div>
</div>


<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5"> 
      <div class="panel panel-default">
        <div class="panel-heading"> <b> ERROR - {{error.code}} </b>
        </div>
        <div class="panel-body">
          <p>
            {{error.opis}}
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

