<table class="table scrolltable scrolltable-{{naslovitabele.length + 1}}">
	<thead>
		<tr>
			<td ng-repeat="podatek in naslovitabele" ng-click="preuredi(podatek.sort)">
				{{ podatek.naslov }} <i class="fa fa-fw fa-sort"></i>
			</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transakcija in transakcije">
			<td  ng-show="transakcija.prejemnikRacuna!=undefined"> {{ transakcija.prejemnikRacuna.naziv }} </td>
			<td  ng-show="transakcija.izdajateljRacuna!=undefined"> {{ transakcija.izdajateljRacuna.naziv }} </td>

			<td> {{ transakcija.stroskovniNosilec.sn }} </td>
			<td ng-show="prikazivrsto"> {{transakcija.vrsta}}</td>
			<td> {{ transakcija.datumIzdaje | date:'dd. MM. yyyy'}} </td>
			<td> {{ transakcija.znesek | currency: "EUR ":2 }} </td>
			<td> <i ng-click="prikaziPodrobnosti(transakcija)" class="fa fa-fw fa-search fa-icon-button"></i></td>
		</tr>
	</tbody>
</table>
