<div>
	<label>{{ title }} </label>
    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="dd. MM. yyyy" ng-model="dt.date" is-open="opened" max-date="today" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
      </span>
    </p>
</div>