﻿<div class="page-footer footer">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-md-6 footer-text">
        <div>
          {{ $strings.copyright }}
        </div>
      </div>
    </div>
  </div>
</div>
