﻿<div id="logo-group">
  <span id="logo">
    <a ng-click="$state.transitionTo('domov.domov')">
      <img ng-src="{{ 'images/logo.png' }}" alt="Logo">
    </a>
  </span>
</div>

<div class="pull-right">
  <div id="hide-menu" class="btn-header pull-right">
    <span>
      <a href="javascript:void(0);" data-action="toggleMenu" ng-attr-title="{{ $strings.collapse_menu }}">
        <i class="fa fa-reorder"></i>
      </a>
    </span>
  </div>

  <div id="fullscreen" class="btn-header transparent pull-right">
    <span>
      <a href="javascript:void(0);" data-action="launchFullscreen" ng-attr-title="{{ $strings.full_screen }}">
        <i class="fa fa-arrows-alt"></i>
      </a>
    </span>
  </div>

  <div id="logout" class="btn-header transparent pull-right" ng-show="!isMobileDevice()">
    <span>
      <a ng-click="logout()" ng-attr-title="{{ $strings.sign_out }}">
        <i class="fa fa-sign-out"></i>
      </a>
    </span>
  </div>

  <div id="calendar" class="btn-header transparent pull-right">
    <span>
      <a ng-click="connectGoogle()">
        <i class="fa fa-calendar-o"></i>
      </a>
    </span>
  </div>

  <!-- <div class="btn-header transparent pull-right" ng-hide="$auth.keycloak.authenticated || isMobileDevice()">
    <span>
      <a ng-click="login()" ng-attr-title="{{ $strings.sign_in }}">
        <i class="fa fa-sign-in"></i>
      </a>
    </span>
  </div> -->

  <div id="search-mobile" class="btn-header transparent pull-right">
    <span>
      <a href="javascript:void(0)" ng-attr-title="{{ $strings.search_button }}">
        <i class="fa fa-search"></i>
      </a>
    </span>
  </div>

</div>
