﻿<div class="login-info">
  <span>
    <a id="show-shortcut" style="cursor: default;">
      <img src="images/eggLogo.png" ng-attr-alt="$strings.me"/>
      <span>
        {{ keycloak.tokenParsed.name }}
      </span>	
    </a>
  </span>
</div>

<nav-left></nav-left>
<span class="minifyme" data-action="minifyMenu">
  <i class="fa fa-arrow-circle-left hit"></i>
</span>