html, body {
    margin: 0;
    padding: 0;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background: #1a485a;
}

.loading .loading-image {
    position: absolute;
    height: 200px;
    width: 160px;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -100px;
    text-align: center;
}

.loading .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: 130px;
}

.loading .loading-spinner > div {
    background: #ffffff;
}

.loading .loading-image img.loading-logo {
    height: 150px;
    vertical-align: inherit;
}

.loading .loading-image img.loading-text {
    height: 50px;
    vertical-align: inherit;
}

.loading-spinner {
    width: 70px;
    height: 25px;
    text-align: center;
}

.loading-spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.loading-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}