﻿<ol class="breadcrumb">
  <li ng-repeat="state in getStatePath()" ng-click="goToState(state)" ng-class="{'ribbon-link': isValidLink(state)}">
    <span>{{ state.strings.title }}</span>
  </li>
</ol>
