﻿<header id="header" ng-include="'_header.html'"></header>

<aside id="left-panel"><span data-ng-include="'_left-panel.html'"></span></aside>

<div id="main" role="main" class="main-div">
  <div id="ribbon" data-ng-include="'_ribbon.html'" data-ribbon=""></div>
  <div id="content" ui-view class="view-animate"></div>
</div>

<footer id="footer" ng-include="'_footer.html'"></footer>
