﻿@import "../../libs/smartadmin/bootstrap.less";
@import "../../libs/smartadmin/smartadmin-production-plugins.less";
@import "../../libs/smartadmin/smartadmin-production.less";
@import "../../libs/smartadmin/smartadmin-skin/smartadmin-skins.less";

@import "domov/domov.less";
@import "stranke/stranke.less";
@import "promet/promet.less";
@import "porocila/porocila.less";
@import "../directives/widgetPieChart/pieChart.less";
@import "../directives/widgetBarChart/barChart.less";
@import "porocila/promet/pregled/pregled.less";
@import "location/location.less";

// dodatne screen variable
@custom-screen-xs-300: 300px;
@custom-screen-xs-400: 400px;

// Layout fixes
#logo {
  margin-top: 5px;
  margin-left: 18px;

  a {
    img {
      width: 11em;
    }
  }
}

div .scrollable-table {
  overflow: auto;
}

.ribbon-link {
  cursor: pointer;

  span {
    text-decoration: underline;
  }
}

.minified .login-info {
  display: none;
}

.smart-style-2.minified #left-panel {
  padding-top: 49px !important;
}

.footer-text {

  > div {
    padding-bottom: 0.6em;

    > a {
      color: #f4f8f8;
    }
  }
}

.footer-logos {
  text-align: right;

  img {
    width: 250px;
  }

  @media (max-width: @screen-md-max) {
    text-align: center;
    padding-top: 5px;
  }
}



// Theme

html {
  background: none;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

body.smart-style-2.mobile-detected.hidden-menu {
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

*::-webkit-input-placeholder {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

*:-moz-placeholder {
  /* FF 4-18 */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

*::-moz-placeholder {
  /* FF 19+ */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#main {
  padding-bottom: 200px;
  
  @media (min-width: @screen-sm-min) {
    min-height: 600px;
  }

  @media (max-width: @screen-xs-max) {
    min-height: 700px;
  }
}

.ui-view-page-footer-padding {
  @media (min-width: @screen-md-min) {
    padding-bottom: 50px;
  }

  @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
    padding-bottom: 80px; 
  }

  @media (min-width: @custom-screen-xs-400) and (max-width: @screen-xs-max) {
    padding-bottom: 90px;
  }

  @media (min-width: @custom-screen-xs-400) and (max-width: @screen-xs-max) {
    padding-bottom: 90px;
  }

  @media (min-width: @custom-screen-xs-300) and (max-width: @custom-screen-xs-400) {
    padding-bottom: 110px;
  }

  @media (max-width: @custom-screen-xs-300) {
    padding-bottom: 120px;
  }
}

.page-footer {
  padding-left: 13px;
  z-index: 1000;
  color: #E6E5E0;
  height: 90px;

  .row {
    padding-left: 194px;

    @media (max-width: @screen-sm-max) {
      padding-left: 0;
    }
  }

  @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
    padding-left: 0; 
    height: 150px;
  }

  @media (min-width: @custom-screen-xs-400) and (max-width: @screen-xs-max) {
    padding-left: 0; 
    height: 170px;
  }

  @media (min-width: @custom-screen-xs-300) and (max-width: @custom-screen-xs-400) {
    padding-left: 0; 
    height: 190px;
  }

  @media (max-width: @custom-screen-xs-300) {
    padding-left: 0; 
    height: 210px;
  }
}

.footer {
  background-color: #123752 !important;
}

.minified .page-footer, .hidden-menu .page-footer {
  padding-left: 0;

  .row {
    padding-left: 0;
  }
}

.smart-style-2 .btn-header > :first-child > a,
.smart-style-2 #hide-menu a > i {
  color: white !important;
}

.hidden-menu #hide-menu > :first-child > a {
  background: #438AA8;
}

.smart-style-2 .header-search > input[type="text"] {
  background: #748BA7;
  color: #748BA7;
}

.smart-style-2 .jarviswidget-color-blueDark > header {
  background-color: #1a485a !important;
}

.smart-style-2 .jarviswidget-color-blue > header {
  background-color: #1a485a !important;
}

//custom css

.fa-icon-button{
  color:grey;
  margin:5px;
}
.fa-icon-button:hover {
  color:black;
}

.chart-medium{
  max-height:350px;
}

.chart-medium-flat{
  max-height:250px;
}

.chart-small {
	height: 180px;
}

.btn-inline{
  margin-left:15px;
  display: inline-block;
}

.height-400 {
	height: 400px;
}

.height-200 {
	height: 200px;
}

.height-170 {
	height: 170px;
}

.height-30 {
	height: 30px;
}

.padding-right-20 {
	padding-right: 20px;
}

.max-height-500 {
	max-height:500px;
}

.max-height-200 {
	max-height:200px;
}

.margin-10 {
  margin: 10px;
}

.overflow-auto {
	overflow: auto;
}

.border-bottom {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eeeeee
}

.accordion-container{
  max-height:600px;
  overflow-y: scroll;
}

.pagination {
  margin-top: 50px !important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #123752 !important;
}

.smart-style-2 #header, .smart-style-2 .page-footer, .smart-style-2 .superbox-show{
  background-color: #123752 !important;
}

p.selected{
  font-weight:bold !important;
}

.line-chart {
    width: 100% !important;
    height: auto !important;
}

.nav-tabs > li.active > a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top-width: 1px !important;
}

.legendHolder {
	text-align:center
}

.chartLegend {
	list-style: none;
    padding:0;
    margin: 0 auto;
    min-width:100%;
    width: auto;
    display: inline-block;
}

.legendText {
	padding: 2px;
	margin: 2px;
}

.legendBox {
	display: inline-block;
	width:6px;
	height: 6px; 
	border-radius: 2px;
}

.scroll-div {
	overflow-y:auto;
	max-height: 500px;
}

.scrolltable{
  height: 400px;
}
.pagination{
  margin-top: 0 !important;
}
.navigation-pills{
  height: 330px;
}

.col-center{
  margin:0 auto;
}

.input-control {
	padding:3px;
}

