<div class="modal-header">
    <h3 class="modal-title">{{ dogodek.naziv }}</h3>
</div>
<div class="modal-body">
    <p>{{ dogodek.opis }}</p>
    <p>{{ dogodek.lokacija }}</p>
    <a href="{{ dogodek.povezava }}">{{ dogodek.povezava }}</a>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="dismiss()">OK</button>
</div>