<div class="panel panel-default">
       <div class="panel-heading">{{$strings.headerStranka}} - {{activestranka.naziv}}</div>
         <div class="panel-body panel-stranka">
           
           <div class="row">
               <div class="col-xs-6"> 
                 <section class="stranke-podatek">
                   <p><b> {{$strings.naslov}}:</b></p>
                   <p> {{activestranka.naslov.ulica + " " + activestranka.naslov.hisnaStevilka }} </p>
                   <p> {{activestranka.naslov.posta.opis}} </p>
                   <p> {{activestranka.naslov.drzava.drzava}}</p>
                 </section>
                 <section class="stranke-podatek">
                   <p><b>{{$strings.kontaktnaOseba}}:</b></p>
                   <p>{{activestranka.kontakt.ime + " " + activestranka.kontakt.priimek}}</p>
                 </section>
                 <section class="stranke-podatek">
                   <p><b>{{$strings.idddv}}:</b></p>
                   <p>{{activestranka.davcna}}</p>
                 </section>
               </div>
               <div class="col-xs-6">
               	 <img ng-show="activestranka.slika" src="{{ activestranka.slika }}" class="max-height-200"/>
                 <img ng-hide="activestranka.slika" src="http://placehold.it/200x200">
               </div>
           </div> 
           <input class="btn btn-default margin-10" type="button" ng-click="openStranka()" value="{{$strings.podrobnosti}}"></input>
     </div>
   </div>
